/*
# Native overrides
*/

body {
  margin: 0;
  font-family: sans-serif, Verdana;
}
a { cursor: pointer; }



/*
# Variables
*/

#app {
  --lighter: rgba(255,255,255,.1);
  --darker: rgba(0,0,0,.1);
  --lightened: rgba(255,255,255,.05);
  --darkened: rgba(0,0,0,.05);
/*
  --bg-color: #222;
  --font-color: #ddd;
  --link-color: #0c0;
*/
}



/*
# Debug
*/

#app * {
  background-color: var(--lightened);
  border: 1px solid var(--darkened);
}



/*
# Themes
*/

#theme_toggle/*,
#theme_toggle:checked ~ .themed .theme_toggle*/ { display: none; }


/*
## Light theme
*/

.theme_dark { display: none; }
#theme_toggle:checked ~ .theme_dark { display: initial; }
#theme_toggle:checked ~ .theme_light { display: none; }

.themed {
  background-color: var(--bg-color);
  color: var(--font-color);
  --bg-color: #ddd;
  --font-color: #222;
  --link-color: #060;
}

.themed a {
  color: var(--link-color)
}

#theme_toggle:checked ~ .themed {
  --bg-color: #222;
  --font-color: #ddd;
  --link-color: #0c0;
}


/*
## Dark theme
*/

@media (prefers-color-scheme: dark) {

  .theme_light {
    display: none;
  }
  .theme_dark {
    display: initial;
  }
  
  #theme_toggle:checked ~ .themed .theme_light {
    display: initial;
  }
  #theme_toggle:checked ~ .themed .theme_dark {
    display: none;
  }
  
  .themed {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: sans-serif, Verdana;
    --bg-color: #222;
    --font-color: #ddd;
    --link-color: #0c0;
  }
  
  .themed a {
    color: var(--link-color)
  }
  
  #theme_toggle:checked ~ .themed {
    --bg-color: #ddd;
    --font-color: #222;
    --link-color: #060;
  }
  
}



/*
# Media queries & defaults
*/

@media (max-width: 500px) {
  
}

/*
# Base
*/

#app {
  display: grid;
  width: 100vw;
  height: 100vh;
  margin: 0;
  grid-template:
    "header"
    "main" 1fr
    "footer";
  box-sizing: border-box;
}

#app a { text-decoration: none; }
#app a:hover,
#app a:active, { text-shadow: 1px 1px #fff }



/*
# Header
*/

#header {
  grid-area: header;
  display: flex;
  flex-flow: wrap;
}
#header > :not(:first-child) {
  margin-left: auto;
}

#header #site_logo {
  display: flex;
  height: 3em;
}


#header #header_text {
  text-align: center;
}


/*
## Navigation bar
*/

#header nav {
  display: flex;
  min-width: fit-content;
  flex-flow: wrap;
  display: flex;
  justify-content: end;
  align-items: center;
}
#header nav a {
  min-width: max-content;
  margin: 0 1rem;
  text-align: center;
}



/*
# Footer
*/

#footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--lighter);
}

#footer .copyright_link {
  text-align: center;
}
#footer .theme_toggle {
  text-align: right;
}



/*
# Main
*/

main > * {
  max-width: 860px;
  margin: 4rem auto;
}
