/*
# Native overrides
*/

html, body { height: 100vw; }
body { margin: 0; }



/*
# Variables
*/

#app {
  --lighter: rgba(255,255,255,.1);
  --darker: rgba(0,0,0,.1);
  --lightened: rgba(255,255,255,.05);
  --darkened: rgba(0,0,0,.5);
}



/*
# Debug
*/

#app * {
  background-color: var(--lighter);
  border: 1px solid var(--darkened);
}



/*
# Themes
*/

.themed_container {
  background-color: var(--bg-color);
  color: var(--font-color);
  --bg-color: #222;
  --font-color: #ddd;
}

#dark_theme { display: none; }
#dark_theme:checked + * {
  --bg-color: #444;
  --font-color: #ddd;
  background-color: var(--bg-color);
  color: var(--font-color);
}



/*
# Media queries
*/

@media (max-width: 500px) {
  
}

/*
# Base
*/

#app {
  display: grid;
  width: 100vw;
  height: 100vh;
  margin: 0;
  grid-template:
    "header"
    "main" 1fr
    "footer";
  box-sizing: border-box;
}



/*
# Header
*/

#header {
  grid-area: header;
  display: flex;
/*
  grid-template: "logo" "nav" 3em / minmax(300px, 1fr);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: end;
  grid-auto-flow: dense;
  grid-auto-rows: 3em;
*/
  /* justify-content: space-between; */
}

#header #site_logo {
/*
  justify-self: start;
*/
  display: flex;
  height: 3em;
}


/*
## Navigation bar
*/

#header nav {
  margin-left: auto;
  min-width: fit-content;
/*
  display: flex;
*/
/*
  display: grid;
  grid-template: 3em / repeat(4, minmax(10rem, auto));
  grid-auto-flow: dense;
  justify-items: center;
  align-items: center;
*/
}
#header nav a {
  max-width: fit-content;
  margin: 0 1rem;
  text-align: center;
}



/*
# Footer
*/

#footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  background-color: var(--lighter);
}

#footer .copyright_link {
  text-align: center;
}
#footer .toggle_dark_theme {
/*
  text-align: right;
  align-self: end;
*/
}



/*
# Main
*/

#app > main > * {
  max-width: 860px;
  margin: 4rem auto;
}
