html, body { height: 100vw; }
body { margin: 0; }



body > .themed_container {
  display: grid;
  width: 100vw;
  height: 100vh;
  margin: 0;
  grid-template:
    "header" 3em
    "main" 1fr
    "footer" 1.5em;
  background-color: var(--bg-color);
  color: var(--font-color);
  --bg-color: #222;
  --font-color: #ddd;
}

#header {
  grid-area: header;
  width: 100vw;
  display: grid;
  /* align-items: center; */
  /* grid-gap: 3em; */
  /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
  /* grid-template-columns: repeat(2, min-content); */
  /* grid-template-columns: min-content 1fr; */
  /* grid-template-columns: min-content minmax(100px, 1fr); */
  /* grid-template-columns: auto 1fr; */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  grid-auto-columns: minmax(300px, 1fr);
  grid-auto-flow: dense;
  /* grid-auto-rows: 3em; */
  /* justify-content: end; */
  /* justify-content: space-between; */
  justify-items: end;
  background-color: #f00;
}

#header #site_logo {
  justify-self: start;
  height: 3em;
  /* max-height: 100%; */
  /* height: 3rem; */
  background-color: #300;
}

#header nav {
  /* width: 500px; */
  /* justify-self: end; */
  /* height: 100%; */
  width: max-content;
  /* min-width: max-content; */
  display: grid;
  align-items: center;
  /* grid-template: 3em / repeat(minmax(10rem, 1fr)); */
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  grid-template-rows: 3em;
  background-color: #b00;
}
#header nav a {
  margin: 0 1rem;
  text-align: center;
  background-color: #700;
}

#footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

#footer .toggle_dark_theme {
  text-align: right;
}

#dark_theme { display: none; }
#dark_theme:checked + * {
  --bg-color: #444;
  --font-color: #ddd;
  background-color: var(--bg-color);
  color: var(--font-color);
}
