/*
# Native overrides
*/

/*
body { height: 100vw; }
*/
body { margin: 0; }
a { cursor: pointer; }



/*
# Variables
*/

body {
  --lighter: rgba(255,255,255,.1);
  --darker: rgba(0,0,0,.1);
  --lightened: rgba(255,255,255,.05);
  --darkened: rgba(0,0,0,.05);
}



/*
# Debug
*/

#app * {
  background-color: var(--lightened);
  border: 1px solid var(--darkened);
}



/*
# Themes
*/

#dark_theme { display: none; }
#dark_theme:not(:checked) ~ .dark { display: none; }
#dark_theme:checked ~ .light { display: none; }

/* Light theme */

.themed_container {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: sans-serif, Verdana;
  --bg-color: #ddd;
  --font-color: #222;
  --link-color: #060;
}
.themed_container a {
  color: var(--link-color)
}

/* Dark theme */

@media (prefers-color-scheme: dark) {
}
.themed_container:has(#dark_theme:checked) {
  --bg-color: #222;
  --font-color: #ddd;
  --link-color: #0c0;
}



/*
# Media queries & defaults
*/

@media (max-width: 500px) {
  
}

/*
# Base
*/

#app {
  display: grid;
  width: 100vw;
  height: 100vh;
  margin: 0;
  grid-template:
    "header"
    "main" 1fr
    "footer";
  box-sizing: border-box;
}

#app a { text-decoration: none; }
#app a:hover,
#app a:active { text-shadow: 1px 1px #fff; }



/*
# Header
*/

#header {
  grid-area: header;
/*
  display: flex;
  flex-flow: wrap;
*/
/*
  grid-template: "logo" "nav" 3em / minmax(300px, 1fr);
*/
  display: grid;
  grid-template: 3em / repeat(auto-fit, minmax(300px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: end;
  grid-auto-flow: dense;
  grid-auto-rows: 3em;
*/
  /* justify-content: space-between; */
}

#header #site_logo {
/*
  justify-self: start;
*/
  display: flex;
  height: 3em;
}


/*
## Navigation bar
*/

#header > header {
  margin: auto;
}

#header nav {
  min-width: fit-content;
  margin-left: auto;
/*
  display: flex;
*/
/*
  display: grid;
  grid-template: 3em / repeat(4, minmax(10rem, auto));
  grid-auto-flow: dense;
  justify-items: center;
  align-items: center;
*/
}
#header nav a {
/*
  max-width: fit-content;
*/
  margin: 0 1rem;
  text-align: center;
}



/*
# Footer
*/

#footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  background-color: var(--lighter);
}

#footer :first-child { text-align: left; }
#footer :last-child { text-align: right; }
/*
#footer .copyright_link {
  text-align: center;
}
#footer .toggle_dark_theme {
  text-align: right;
}
*/



/*
# Main
*/

main > * {
  max-width: 860px;
  margin: 4rem auto;
}
